<div class="text-center">

  <h1>
  <% if @borrower.first_name.blank? || @borrower.last_name.blank? %>
      Welcome <%= @borrower.email %>
     <% else %>
      Welcome <%= @borrower.full_name %>
     <% end %>
  </h1>

<% if Borrower.find(params[:id]) == @borrower.id %>
<br><hr>
<%= link_to 'Edit My Profile', edit_borrower_path(@borrower), class:"btn btn-outline-secondary" %>
<hr><br>
<% end  %>

<%= show_non_blank_field "Borrower:", @borrower.full_name %>
<%= show_non_blank_field "Current Position:", @borrower.current_position %>
<%= show_non_blank_field "Company:", @borrower.company_name %>
<%= show_non_blank_field "Email:", @borrower.email %>
<br>
<%= show_non_blank_field "Bio", @borrower.bio %>

<!-- <hr> -->
<%#= render partial: "notes/notes", locals: {notable: @borrower}  %>
<%#= render partial: "notes/form", locals: {notable: @borrower}  %>

<hr>
<br>

<%= link_to 'Back', :back, class:"btn btn-outline-primary" %>



</div>
