
<!-- ************** -->
<!-- ************** -->
<!-- ONLY A PARTIAL NO ROUTE DEFINED  -->
<!-- ************** -->
<!-- ************** -->

<%= form_with(model: @borrower, local: true) do |form|  %>

  <% if @borrower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrower.errors.count, "error") %> prohibited this @borrower from being saved:</h2>

      <ul>
        <% @borrower.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 style="color:red;"> Required Fields </h1>

  <div class="field">
    <%= form.label :first_name if @borrower.first_name == nil  %>
    <%= form.text_field :first_name, id: :borrower_first_name if @borrower.first_name == nil %>
  </div>

  <div class="field">
    <%= form.label :last_name if @borrower.last_name == nil %>
    <%= form.text_field :last_name, id: :borrower_last_name if @borrower.last_name == nil %>
  </div>

  <div class="field">
    <%= form.label :phone if @borrower.phone == nil %>
    <%= form.number_field :phone, id: :borrower_phone if @borrower.phone == nil%>
  </div>

  <div class="field">
    <%= form.label :street  if @borrower.street == nil   %>
    <%= form.text_field :street, id: :borrower_street  if @borrower.street == nil  %>
  </div>

  <div class="field">
    <%= form.label :state  if @borrower.state == nil  %>
    <%= form.text_field :state, id: :borrower_state  if @borrower.state == nil  %>
  </div>

  <div class="field">
    <%= form.label :zip  if @borrower.zip == nil   %>
    <%= form.number_field :zip, id: :borrower_zip   if @borrower.zip == nil  %>
  </div>

  <div class="field">
    <%= form.label :company_name  if @borrower.company_name == nil  %>
    <%= form.text_field :company_name, id: :borrower_company_name  if @borrower.company_name == nil  %>
  </div>

  <div class="field">
    <%= form.label :employer_street  if @borrower.employer_street == nil  %>
    <%= form.text_field :employer_street, id: :borrower_employer_street  if @borrower.employer_street == nil %>
  </div>

  <div class="field">
    <%= form.label :employer_state  if @borrower.employer_state == nil  %>
    <%= form.text_field :employer_state, id: :borrower_employer_state  if @borrower.employer_state == nil   %>
  </div>

  <div class="field">
    <%= form.label :employer_zip  if @borrower.employer_zip == nil  %>
    <%= form.number_field :employer_zip, id: :borrower_employer_zip  if @borrower.employer_zip == nil  %>
  </div>

  <div class="field">
    <%= form.label :current_position  if @borrower.current_position == nil  %>
    <%= form.text_field :current_position, id: :borrower_current_position  if @borrower.current_position == nil  %>
  </div>

  <div class="field">
    <%= form.label :start_date  if @borrower.start_date == nil  %>
    <%= form.text_field :start_date, id: :borrower_start_date  if @borrower.start_date == nil   %>
  </div>

  <div class="field">
    <%= form.label :salary  if @borrower.salary == nil  %>
    <%= form.number_field :salary, id: :borrower_salary  if @borrower.salary == nil  %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-primary" %>
  </div>
  <% end %>
