<div class="text-center">

	<h1>Login</h1>
	<br>

  <div class="row">
    <div class="col">
			<br>
			<img src="http://via.placeholder.com/300x300" alt="">
			<br>
			<br>
	      <%= render 'devise/sessions/lender' %>
    </div>

    <div class="col">
			<br>
			<img src="http://via.placeholder.com/300x300" alt="">
			<br>
			<br>
			<%= render 'devise/sessions/borrower' %>
		</div>
	</div>

<br>
<br>
<br>

<h2>*Don't have an account?
<br>
</h2>
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal"> Signup</button>

<div class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

			<br>
			<br>
			<br>

			<div class="container">
				<div class="row">
					<div class="col">
						<h1>Signup as </h1>
						<%= link_to 'Lender', new_lender_registration_path, class:"btn btn-success" %>
					</div>

<br>

					<div class="col">
						<h1>Signup as</h1>
						<%= link_to 'Borrower', new_borrower_registration_path, class:"btn btn-success" %>
					</div>
				</div>
    </div>

		<br>
		<br>
		<br>


  </div>
</div>

</div>

<br>
<br>
<br>

<%= link_to "Back", :back, class:"btn btn-outline-primary" %>

<br>
<br>
