<div class="text-center">

<h1>
<% if @lender.first_name.blank? || @lender.last_name.blank? %>
    <%= @lender.email %>'s Public Profile
   <% else %>
     <%= @lender.full_name %>'s Public Profile
   <% end %>
</h1>

<% if current_lender = @lender %>
  <br><hr>
  <%= link_to 'Edit Your Profile', edit_lender_path(@lender), class:"btn btn-outline-secondary" %>
  <hr><br>
<% end  %>

<%= show_non_blank_field "Lender:", @lender.full_name %>
<%= show_non_blank_field "Phone:", @lender.phone %>
<%= show_non_blank_field "Email:", @lender.email %>

<hr>

<%= render partial: "notes/notes", locals: {notable: @lender}  %>
<%= render partial: "notes/form", locals: {notable: @lender}  %>


<br>
<hr>
<br>

<%= link_to 'Back', :back, class:"btn btn-outline-primary" %>

</div>
